<a href="https://colab.research.google.com/github/antoinet21/dataAnalysis/blob/main/5%EC%9D%BC%EC%B0%A8_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 다양한 반복문

In [ ]:
for 변수 in range(0,3,1):
    print(변수)

0
1
2

In [ ]:
# 2. 리스트 이용,  한 줄로 표현 end()
a = list(range(10,0, -1))
b = list(range(1,10))
for i in a:
    print(i, end=',')

10,9,8,7,6,5,4,3,2,1,

In [ ]:
# 3. 문자열 이용
for i in 'python':
    print(i)

p
y
t
h
o
n

In [ ]:
# 4. 변수 사용 안하고 반복만 할 때
for _ in range(3):
    print('좋은 아침!')

좋은 아침!
좋은 아침!
좋은 아침!

In [ ]:
# 5. 리스트와 같은 순서가 있는 자료형의 인덱스를 함께 사용
fruits = ['사과', '포도', '딸기', '키위']

# for idx, fruit, in enumerate(fruits):

idx = 0
for idx, fruit in enumerate(fruits):
    print(idx, fruit)
    idx = idx + 1

for idx, fruit in enumerate(fruits):
    print(idx, fruit)

0 사과
1 포도
2 딸기
3 키위

In [ ]:
# 컬랙션 자료형 특징 이용
for a, b in [(1,2),(3,4),(5,6)]:
    print(a, b)

print('-'*30)
dic = {1:'사과', 2:'포도'}

for key in dic:
    print(key, dic[key])

for key, value in dic.items():
    print(key, value)

# 중복 배제 됨 -> 집합
print('-'*30)
for v in {1,2,3,4,5,3,4}:
    print(v)

1 2
3 4
5 6
------------------------------
1 사과
2 포도
1 사과
2 포도
------------------------------
1
2
3
4
5

In [ ]:
# 1~100 까지 짝수 제외하고 합

n = int(input('1부터 ~ 까지합계를 구할 숫자:'))
hap = 0
for i in range(1,n+1, 2):
       hap = hap + i
print(f"1~100 까지 짝수 제외하고 합: {sum}")

1부터 ~ 까지합계를 구할 숫자:100
1~100 까지 짝수 제외하고 합: 2

In [ ]:
hap = 0
n = int(input('1부터 ~ 까지합계를 구할 숫자:'))
hap = sum( [ i for i in range(1, n+1, 2) ] )
print(f"1~{n} 까지 짝수 제외하고 합: {hap}")

1부터 ~ 까지합계를 구할 숫자:100

TypeError: 'int' object is not callable

# 2. turtle은 iDLE  shell에서 실행가능함. colab에서 안됨

In [2]:
import turtle

t = turtle.Pen()

t.pensize(5)
t.color('blue')
t.shape('turtle')

for _ in range(5):
    t.forward(100)
    t.right(72)

turtle.exitonclick()

TclError: no display name and no $DISPLAY environment variable

In [6]:
# a = list(range(1,101))
# for i in a:
#    print(i, end=' ')

for i in range(1,101):    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [9]:
print(' '.join( [string(i) for i in range(1, 101) ] ) ):

SyntaxError: invalid syntax (<ipython-input-9-a67e331a1ea4>, line 1)

In [22]:
scores = [90, 25, 67, 45, 80]

for idx, score in enumerate(scores):
   if score >= 60:
      print(f"{idx+1}번 학생 {score}점 : 합격")
   else:
     print(f"{idx+1}번 학생 {score}점 : 불합격")

1번 학생 90점 : 합격
2번 학생 25점 : 불합격
3번 학생 67점 : 합격
4번 학생 45점 : 불합격
5번 학생 80점 : 합격

In [28]:
import random




scores = [ random.randint(1, 101) for _ in range(5) ]
# print(score)
for idx, score in enumerate(scores):
#   if score >= 60:
#      print(f"{idx+1}번 학생 {score}점 : 합격")
#   else:
#     print(f"{idx+1}번 학생 {score}점 : 불합격")


result = '합격' if score >= 60 else '불합격'
print(f'{idx+1}번 학생 {score}점: {result} 입니다.')

IndentationError: expected an indented block after 'for' statement on line 8 (<ipython-input-28-e49151db4e58>, line 15)

In [36]:
'''
예)
    )))()()((( => False
    ()()()()()) => False
    ()(())()()  => True
    ))(())(( => False
    ()(()))( => False
    ((())()) => True
'''
p_list = list(input('판별할 괄호는: '))
print(p_list)

t = 0
for p in p_list:
    if p == '(':
        t += 1
    elif p == ')':
        t -= 1
    if t < 0:
        break
if t == 0:
    print('결과: True')
else:
    print('결과: False')

판별할 괄호는: (())))
['(', '(', ')', ')', ')', ')']
결과: False

중첩 반복문

In [35]:
for i in range(3):
    print(f"{i}------")
    for j in range(3):
        print(f"i:{i}, j:{j}")

0------
i:0, j:0
i:0, j:1
i:0, j:2
1------
i:1, j:0
i:1, j:1
i:1, j:2
2------
i:2, j:0
i:2, j:1
i:2, j:2

In [34]:
p_lists = [')))()()(((', '()()()()())','()(())()()',
        '))(())((','()(()))(','((())())']

for p_list in p_lists :
    print(f"괄호: {p_list} ")
    t = 0
    for p in p_list:
        if p == '(':
            t += 1
        elif p == ')':
            t -= 1
        if t < 0:
            break
    if t == 0:
        print('->결과: True')
    else:
        print('->결과: False')

괄호: )))()()(((
->결과: False
괄호: ()()()()())
->결과: False
괄호: ()(())()()
->결과: True
괄호: ))(())((
->결과: False
괄호: ()(()))(
->결과: False
괄호: ((())())
->결과: True

# 5-2 WHILE 반복문

In [38]:
a = 0
while a < 5:
    print(f"{a}은 5보다 작지 않군요")
    a += 1
print(f"{a}는 5와 같군요")

0은 5보다 작지 않군요
1은 5보다 작지 않군요
2은 5보다 작지 않군요
3은 5보다 작지 않군요
4은 5보다 작지 않군요
5는 5와 같군요

In [39]:
a = 0
while True:
    if a >= 5:
        break
    print(f"{a}는 5보다 작군요")
    a += 1
print(f"{a}는 5와 같군요")

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5와 같군요

In [43]:
treeHit = 1
while True:
    if treeHit >= 10:
        break
    print(f"나무{treeHit}번 찍음. 안 넘어 감 ㅠㅠ")
    treeHit += 1
print(f"드디어 나무{treeHit}번 찍음. 나무가 넘어갔음")

나무1번 찍음. 안 넘어 감 ㅠㅠ
나무2번 찍음. 안 넘어 감 ㅠㅠ
나무3번 찍음. 안 넘어 감 ㅠㅠ
나무4번 찍음. 안 넘어 감 ㅠㅠ
나무5번 찍음. 안 넘어 감 ㅠㅠ
나무6번 찍음. 안 넘어 감 ㅠㅠ
나무7번 찍음. 안 넘어 감 ㅠㅠ
나무8번 찍음. 안 넘어 감 ㅠㅠ
나무9번 찍음. 안 넘어 감 ㅠㅠ
드디어 나무10번 찍음. 나무가 넘어갔음